#!/usr/bin/make -f
include /usr/share/dpkg/pkg-info.mk
#export DH_VERBOSE = 1

export DEB_BUILD_MAINT_OPTIONS = hardening=+all

override_dh_auto_configure:
	printf '#define PCM_VERSION " (%s)"\n' >src/version.h ${DEB_VERSION}
	dh_auto_configure

%:
	dh $@

override_dh_auto_install:
	dh_auto_install
	rm debian/pcm/usr/share/doc/pcm/license.txt
	rm -r debian/pcm/usr/share/licenses
